*.o
*.obj
*.gch
*.pch
*.rar
*.user
*.dbg
*.map

obj/
.vs/
Debug/
Release/
packages/
site/
*.htm
.DS_Store
*.nsf
*.ipdb
*.iobj
*.lib
*.pdb
*.exp
*.suo
*.fns
SoundEngine/DemoSource/*.nes
SoundEngine/UnitTests/*.nes
SoundEngine/UnitTests/*.inc
*.lst
FamiStudio/FamiStudio.args.json
*.tmp
