@import url('https://fonts.googleapis.com/css?family=Quicksand:400');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700');
body {
  font-family: 'Quicksand';
  background-color: #212529;
  color: #C6CDDA;
}
h1 {
  color: #C6CDDA;
  font-size: 30px;    
  font-weight: bold;
}
h2 {
  color: #C6CDDA;
  font-size: 22px;  
  font-weight: bold;
}
h3 {
  color: #C6CDDA;
  font-size: 20px;  
  font-weight: bold;
}
h4 {
  color: #C6CDDA;
  font-size: 18px;  
  font-weight: bold;
}
h1:after
{
    content:' ';
    display:block;
    border:1px solid #C6CDDA;
}
h2:after
{
    content:' ';
    display:block;
    border-bottom:1px solid #C6CDDA;
}
img[src*="#center"] {
    display: block;
    margin: 0 auto;
}
th {
    text-align: center;
}
.bs-sidebar .nav > li > a {
    display: block;
    padding: 1px 10px;
    z-index: 1;
}
.col-md-3 {
    max-width:30%;
}