<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fms</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/famistudio</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FamiStudio Project</string>
			<key>CFBundleTypeIconFile</key>
			<string>FamiStudio</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.BleuBleu.FamiStudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FamiStudio</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019-2025 BleuBleu, All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>ShellScript</string>
	<key>CFBundleExecutable</key>
	<string>main.command</string>
	<key>CFBundleIconFile</key>
	<string>FamiStudio</string>
	<key>NSMainNibFile</key>
	<string>main.nib</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHighResolutionMagnifyAllowed</key>
	<false/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleVersion</key>
	<string>4.4.4</string>
	<key>CFBundleShortVersionString</key>
	<string>4.4.4</string>
</dict>
</plist>
